/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#ds-error-message-wrapper {
    visibility: hidden;
    padding-top: 5px;
}

#ds-error-message {
    color: red;
}
